<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    </head>

<style>
    .neumorphism-shadow {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.119), 5px 5px 10px rgba(0, 0, 0, 0.219);
    }
</style>

    <body class="bg-gray-600 flex flex-col justify-center items-center">
        <div class="text-white neumorphism-shadow mt-4 w-2/5 mb-6 rounded-lg">
            <p class="m-4">Create Time: {{post.date}}</p>

            <p class="font-extrabold m-4">Title: {{post.title}}</p>

            <a href="javascript:void(0);" onclick="windowOpen('{{post.image}}');">
                <img class="m-4 rounded-lg" src="{{post.image}}" width="200" height="300" alt="image description"/>
            </a>
            <div class="m-3">
                <p>{{post.html[:300]|safe}}</p>
            </div>
        </div>
    </body>
</html>

<script> 
    function windowOpen(theURL) 
    { 
        window.open(theURL,'','toolbar=0,status=0,scrollbars=0,fullscreen=1'); 
    } 
</script> 